.next
node_modules
dist
*.d.ts
.next/cache
.next/types
.next/build-manifest.json
.next/build-stats.json
.next/required-server-files.json
.next/trace
.next/routes-manifest.json
.next/prerender-manifest.json
.next/server/**/*.nft.json
.next/static/chunks/**/*.js
.next/static/chunks/**/*.js.map
.next/static/chunks/**/*.js.flow
.next/static/chunks/**/*.js.nft.json
.next/static/chunks/**/*.js.flow.map
.next/static/chunks/**/*.js.flow.nft.json